
@{
    ViewBag.Title = "giaiptbac2";
}

<h2>giaiptbac2</h2>
@using (Html.BeginForm())
{
<label> nhập a:</label>
<input type="text" name="hesoA"  />
<label> Nhập b:</label>
<input type="text" name="hesoB"  />
<lable> nhập c:</lable>
<input type="text" name="hesoC"  />
<input type="submit" name="name" value="kết quả" />


}
@ViewBag.thongbao

